protected-mode/bin/*.bin
protected-mode/build/*.o
protected-mode/build/idt/*.o
protected-mode/build/memory/*.o
protected-mode/build/io/*.o
protected-mode/build/memory/heap/*.o
protected-mode/build/memory/paging/*.o
protected-mode/build/disk/*.o
protected-mode/build/string/*.o
protected-mode/build/fs/*.o
protected-mode/build/fs/fat/*.o
protected-mode/build/gdt/*.o
protected-mode/build/task
protected-mode/programs/blank/*.bin
protected-mode/programs/blank/build/*.o